.header__style {
    position: relative;
    /* padding: 0 30px;*/
     margin: 0 auto 40px;
     max-width: 880px;
     min-height: 74px;
 
     border-bottom: 1px solid rgba(33, 33, 33, .7);
}

@media screen and (max-width: 759px) {
    .header__style {
        padding: 0 27px;
        min-height: 56px;
        margin: 0 auto 42px;
    }
}