.profile__block {
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 30px;
    max-width: 400px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .profile__block {
        padding: 0;
        justify-content: center;
        margin-top: 26px;
        margin-bottom: 36px;
    }
}