.edit-button__style {
    transition: opacity .4s;
    align-self: flex-end;
}

.edit-button__style:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .edit-button__style {
        width: 18px;
        height: 18px;
    }
}