.logo {
    background-image: url(../../images/logo_mesto-Russia.svg);
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 424px) {
    .logo {
        background-image: url(../../images/Logo_mesto-Russia_mobile.svg);
        width: 104px;
        height: 24.4px;
    }
}