.add-button__style {
    transition: opacity .4s;
}

.add-button__style:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .add-button__style {
        margin-bottom: 36px;
    }
}